body {
  margin: 0px;
  padding: 0px;
  color: forestgreen;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.header {
  position: relative;
  max-width: 1300px;
  padding: 0px;
  background: rgb(42, 97, 92);
  box-sizing: border-box;
  border-radius: 1px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.logo {
  padding: 0 20px;
  box-sizing: border-box;
  float: left;
  border-radius: 25px;
}
nav {
  float: right;
}
.clearfix {
  clear: both;
}
nav ul {
  margin: 0px;
  padding: 0px;
  display: flex;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: aquamarine;
}
nav ul li a.active,
nav ul li a:hover {
  background-color: rgb(51, 148, 155);
  color: #fff;
  transition: 0.7s;
}
.text,
h2,
h6 {
  padding-top: 8vh;
}
#search-btn {
  margin: 15px;
  background-color: rgb(19, 134, 63);
}
#search-btn:hover {
  background-color: rgb(3, 243, 247);
}
a {
  text-decoration: none !important;
}
.sub-header {
  background: rgb(8, 134, 118);
}
.card,
.text {
  background-color: rgb(126, 131, 130);
}
